/* Step3. スタイルの下準備 */
body, h1, p {
  margin: 0;
}

p, a {
  font-size: 20px;
}

/* Step4. header部分のスタイル */
header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}

header h1 {
  color: rgb(255, 255, 255);
}

/* Step5. main部分のスタイル */
main {
  padding: 10px;
}

#parent {
  display: flex;
  justify-content: space-between;
}

.contents {
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

.contents h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
  position: relative;
  padding-left: 20px;
}

/* ●記号の表示 */
.contents h2::before {
  content: "●";
  color: rgb(239, 111, 139);
  position: absolute;
  left: 0;
}

/* 傘の文字の装飾 */
.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

/* 画像のスタイル */
.contents img {
  margin: 10px 0;
  width: 70%;
}

/* Step6. footer部分のスタイル */
footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer a:visited {
  color: rgb(193, 234, 251);
}

footer a:hover {
  color: rgb(245, 178, 168);
}

/* Step7. レスポンシブ対応 */
@media screen and (max-width: 768px) {
  #parent {
    flex-direction: column;
  }

  .contents h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }
}